<header>
      <nav  class="bg-lime-900 text-white font-bold uppercase">
        <ul class="flex justify-center">
          <li class="ml-4 mr-4 mt-2 mb-2"><a href="/" class="hover:text-lime-200 active:text-lime-200">Shop</a></li>
          <li class="ml-4 mr-4 mt-2 mb-2"><a href="/admin/add-product" class="hover:text-lime-200 active:text-lime-200">Add product</a></li>
        </ul>
      </nav>
</header>