<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link href="/output.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav  class="bg-lime-900 text-white font-bold uppercase">
        <ul class="flex justify-center">
          <li class="ml-4 mr-4 mt-2 mb-2"><a href="/" class="hover:text-lime-200 active:text-lime-200">Shop</a></li>
          <li class="ml-4 mr-4 mt-2 mb-2"><a href="/admin/add-product" class="hover:text-lime-200 active:text-lime-200">Add product</a></li>
        </ul>
      </nav>
    </header>

    <main>
        <h1>Page not found.</h1>
    </main>
  </body>
</html>
