<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="/output.css" rel="stylesheet" />
  </head>
  <body>
    <%- include("./includes/header.ejs") %>

    <main class="w-full flex flex-col items-center">
      <h1 class="text-4xl uppercase mt-8 mb-8">*Add products*</h1>
      <form class="flex flex-col items-center" action="/admin/add-product" method="post">
        <input
          class="border-2 rounded-md pl-2 pr-2 w-full"
          type="text"
          name="title"
          placeholder="Enter product title..."
        />
        <textarea
          class="border-2 rounded-md pl-2 pr-2 w-full mt-2"
          name="description"
          placeholder="Enter your description..."
          rows="4"
          cols="48"
        ></textarea>
        <button
          type="submit"
          class="bg-lime-900 text-white border-2 border-black w-full mt-8 pl-2 pr-2 rounded-md hover:bg-white hover:text-black hover:cursor-pointer"
        >
          Add
        </button>
      </form>
    </main>
  </body>
</html>
